/* Custom css definitions */

.border-bottom-smoke {
	border-bottom-style: ridge;
	border-color: WhiteSmoke;
	border-width: 5px;
}

.border-grey {
	border-style: inset;
	border-color: darkgrey;
	border-width: 5px;
}