/* Installed css classes */
@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";

@import "./fonts";

/* Any other, extra custom css styles you want to add to basscss */

.pointer {
	cursor: pointer;
}

.banner-image {
	width: 70%;
	height: 40%;
	max-height: 250px;
}

/*	MODAL WINDOW HANDLING */

.modal-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	padding-top: 20%;
	overflow: scroll;
}

.modal-window {
	background-color: #4a4a4a;
	border-radius: 15px;
	margin: 0 auto;
	padding: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {opacity:0} 
    to {opacity:1}
}

@keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
}

.modal-header {
	text-align: right;
}

.login-input {
	width: 100%;
	font-family: 'Montserrat';
	font-size: 1.4em;
}

.button-makiti {
	padding: 8px 14px 8px 14px;
	margin: 8px 14px 8px 14px;
	color: gray;
	text-decoration: none;
	border: 2px solid darkgray;
	border-radius: 8px;
	cursor: pointer;
	font-family: 'Montserrat';
	font-size: 0.8em;
	text-align: center;
}

.dropdown-makiti {
	float: left;
	display: block;
}

.dropdown-content-makiti {
	display: none;
    position: absolute;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
}

.dropdown-makiti:hover .dropdown-content-makiti {
	display: block;
}

.page-header {
    font-weight: bold;
    color: #fdfdf8;
    background-color: firebrick;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.app-list-body {
	list-style: none;
}

.app-list-item {
	text-align: center;
	border-bottom: 2px solid firebrick;
	font-family: 'Montserrat';
	font-size: 1.3rem;
}

.app-list-item-name {
	color: #ffffff;
}

/* BACKGROUND */

.bg-mediumgray {
	background-color: #303030;
}

.bg-lightgray {
	background-color: #dddddd;
}

.bg-lightsteelblue {
	background-color: #B0C4DE;
}

.bg-purple {
	background-color: #666699;
}


/* TEXT */
.text-bold-black {
	font-weight: bold;
	color: black;
}

.text-purple {
	color: #8585ad;
}

.text-bold-whitesmoke {
	font-weight: bold;
	color: #F5F5F5;
}

.text-bold-orange {
	font-weight: bold;
	color: orange;
}

.text-error-red {
	font-weight: bold;
	color: red;
	font-family: 'Montserrat';
}
