@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";

/* --lime is the default lime variable of basscss */
/*Redefine class values here*/
:root {
	--h1: 35px;
	--black: #222;
	--darkgray: #383838;
	--mediumgray: #808080;
	--lightgray: #d6d6d6;
}

* {
	margin: 0px;
	color: var(--black);
	font-family: 'Helvetica Neue', sans-serif;
}

body {
	background-color: var(--darkgray);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.4em 0.2em;
	font-family: 'Oswald', sans-serif;
	color: var(--orange);
}